<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/error.css" />
  </head>
  <body>
    <div class="container">
      <div class="img-container">
        <img
          class="img-error"
          src="../../images/error.avif"
          alt="no loaded.."
        />
      </div>
      <div class="heading-container">
        <h1>Page Not Found</h1>
        <button class="button-error"><a href="/" class="button-error-attributes">Back To home Page</a></button>
      </div>
    </div>
  </body>
</html>