<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online shopping</title>
    <link rel="stylesheet" href="../../css/bodyhome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../css/body.css" />
    <link rel="stylesheet" href="../../css/footer.css">
</head>

<body>
 {{>header}}

    <main id="main">
        <div class="container">
            <div class="slider-container">
                <img class="slider-image" id="slider-image" src="../../images/mobile.jpg" alt="no loaded" />
                <img class="slider-image nones " id="slider-image1" src="../../images/a.jpg" alt="no loaded" />
                <img class="slider-image nones " id="slider-image2" src="../../images/b.jpg" alt="no loaded" />
                <img class="slider-image nones " id="slider-image2" src="../../images/c.jpg" alt="no loaded" />
                <img class="slider-image nones " id="slider-image2" src="../../images/d.jpg" alt="no loaded" />
                <img class="slider-image nones " id="slider-image2" src="../../images/e.jpg" alt="no loaded" />
                <img class="slider-image nones " id="slider-image2" src="../../images/f.jpg" alt="no loaded" />
                <div class="slider-right-container" id="slider-right">
                    <p class="slider-right" plusSlides(-1)>&#8250;</p>
                </div>
                <div class="slider-left-container" id="slider-left">
                    <p class="slider-left" plusSlides(1)>&#8249;</p>
                </div>
            </div>
            <div class="product-first-container">

                <div class="product-first">
                    <div class="product">
                        <div class="heading-container">
                            <h2 class="heading-text">Pick up where you left off</h2>
                        </div>
                        <div class="product-box-container">
                            <div class="product-box">
                                <a href="/productlisining" class="attributes">
                                    <img class="product-img" src="../../images/handwash.jpg" alt="">
                                    <p class="product-name">Godrej Protekt Germ Fi…</p>
                                </a>
                            </div>
                            <div class="product-box">
                                <a href="" class="attributes">
                                    <img class="product-img" src="../../images/handwash2.jpg" alt="">
                                    <p class="product-name">Godrej Protekt Germ Fi…</p>
                                </a>

                            </div>
                        </div>
                        <div class="product-box-container">
                            <div class="product-box">
                                <a href="" class="attributes">
                                    <img class="product-img" src="../../images/article.jpg" alt="">
                                    <p class="product-name">Art Street - Set of 4 Br…</p>
                                </a>

                            </div>
                            <div class="product-box">
                                <a href="" class="attributes">
                                    <img class="product-img" src="../../images/bottle.jpg" alt="">
                                    <p class="product-name">Larah by Borosil Classic…</p>
                                </a>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="product-first">
                    <div class="product">
                        <div class="heading-container">
                            <h2 class="heading-text">Keep shopping for</h2>
                        </div>
                        <a href="/" class="attributes">

                            <div class="product-audio-container">
                                <img class="audio-image" src="../../images/audio.jpg" alt="">
                            </div>
                            <div class="bottom-heading-container">
                                <p class="text-bottom up">Condenser</p>
                                <p class="underline">
                                    <span class="text-bottom number">1 <span class="text-bottom">viewed</span></span>
                                </p>
                            </div>
                        </a>
                        <a href="/" class="attributes">
                            <div class="bottom-heading-container">
                                <p class="text-bottom number2">View your browsing history</p>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="product-first">
                    <div class="product">
                        <div class="heading-container reward-heading">
                            <h2 class="heading-text">Shop & Pay | Earn rewards daily</h2>
                        </div>
                        <div class="product-reward-container">

                            <div class="product-reward">
                                <a href="" class="attributes">
                                    <img class="product-reward-img" src="../../images/scratchcard.jpg" alt="">
                                    <p class="product-reward-name">Claim your scratch cards</p>
                                </a>
                            </div>
                            <div class="product-reward">
                                <a href="" class="attributes">
                                    <img class="product-reward-img" src="../../images/redeem.jpg" alt="">
                                    <p class="product-reward-name">Redeem your collected rewards</p>
                                </a>

                            </div>
                        </div>
                        <div class="product-reward-container">
                            <div class="product-reward">
                                <a href="" class="attributes">
                                    <img class="product-reward-img" src="../../images/playwin.jpg" alt="">
                                    <P class="product-reward-name">Pay & Win scratch cards</p>
                                </a>
                            </div>
                            <div class="product-reward">
                                <a href="" class="attributes">
                                    <img class="product-reward-img" src="../../images/shopCollection.jpg" alt="">
                                    <p class="product-reward-name">Shop & Collect Rewards daily</p>
                                </a>

                            </div>
                        </div>
                        <a href="/" class="attributes">
                            <div class="bottom-heading-container">
                                <p class="text-bottom number2">See more</p>
                            </div>
                        </a>
                    </div>

                </div>


                <div class="product-seler-first">
                    <div class="product-seler">

                        <div class="seller-fees">
                            <div class="heading-container reward-heading">
                                <h2 class="heading-text">Get 50% off on Selling Fee*</h2>
                            </div>
                            <a href="/" class="attributes">
                                <div class="bottom-heading-container">
                                    <p class="text-bottom number2">Become a Seller</p>
                                </div>
                            </a>
                        </div>
                        <div class="seler-img-container">
                            <img class="best-add-image" src="../../images/selling.jpg" alt="">
                        </div>
                    </div>
                    <div class="product-seler-add">
                        <div class="product-seler-container">
                            <img class="best-add-image" src="../../images/addimage.jpg" alt="">
                        </div>

                    </div>


                </div>


            </div>

            <div class="product-second-container">
                <div class="primevideo-list">
                    <a href="/" class="prime-video-container">
                        <img class="prime-video" src="../../images/prime.jpg" alt="">
                    </a>
                    <div class="prime-tittle">
                        <h1 class="prime-tittle-text">Prime Video: Recommended for you</h1>
                        <p class="prime-tittle-text-p">Ponniyin Selvan Part 2</p>
                    </div>
                    <div class="prime-video-start-container">
                        <a href="/" class="attributes under">
                            <p class="prime-tittle-text-p start">Start watching on Prime Video</p>
                        </a>
                    </div>
                </div>


                <div class="product-first">
                    <div class="product">
                        <div class="heading-container auto">
                            <h2 class="heading-text">Bluetooth Calling Smartwatch starts at ₹1,999</h2>
                        </div>
                        <a href="/" class="attributes">

                            <div class="product-smart-container">
                                <img class="smart-watch" src="../../images/smartwatch.jpg" alt="">
                            </div>
                            <div class="bottom-heading-container">
                                <p class="text-bottom number2 ">Shop Now</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="product-first">
                    <div class="product">
                        <div class="heading-container reward-heading">
                            <h2 class="heading-text">Bestselling footwear & handbags</h2>
                        </div>
                        <div class="product-reward-container">

                            <div class="product-reward">
                                <a href="" class="attributes">
                                    <img class="product-reward-img" src="../../images/sportsShoes.jpg" alt="">
                                    <p class="product-reward-name">Sports shoes</p>
                                </a>
                            </div>
                            <div class="product-reward">
                                <a href="" class="attributes">
                                    <img class="product-reward-img" src="../../images/mensShoes.jpg" alt="">
                                    <p class="product-reward-name">Men's shoes</p>
                                </a>

                            </div>
                        </div>
                        <div class="product-reward-container">
                            <div class="product-reward">
                                <a href="" class="attributes">
                                    <img class="product-reward-img" src="../../images/womenshoes.jpg" alt="">
                                    <P class="product-reward-name">Women's shoes</p>
                                </a>
                            </div>
                            <div class="product-reward">
                                <a href="" class="attributes">
                                    <img class="product-reward-img" src="../../images/handbags.jpg" alt="">
                                    <p class="product-reward-name">Handbags</p>
                                </a>

                            </div>
                        </div>
                        <a href="/" class="attributes">
                            <div class="bottom-heading-container">
                                <p class="text-bottom number2">See more offers</p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <!-- sa -->
            <div class="product-today-deals-container">
                <div class="product-today-deals">
                    <div class="today-deals-container">
                        <h2 class="heading-text">Today’s Deals</h2>
                        <a href="" class="attributes see">
                            <p class="see-all">See all deals</p>
                        </a>
                    </div>
                    <div class="product-deals-container">
                        <div class="product-deals-box-container">
                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/goldcone.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/bash.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/puma.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/tpimg.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/sciencekit.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/walpaper.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/waterscience.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/shoesAsian.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>





                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/toyes.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>





                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/wolpin.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>





                        </div>

                    </div>
                </div>
            </div>

            <div class="product-today-deals-container">
                <div class="product-today-deals">
                    <div class="today-deals-container">
                        <h2 class="heading-text">Today’s Deals</h2>
                        <a href="" class="attributes see">
                            <p class="see-all">See all deals</p>
                        </a>
                    </div>
                    <div class="product-deals-container">
                        <div class="product-deals-box-container">
                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/goldcone.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/bash.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/puma.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/tpimg.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/sciencekit.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/walpaper.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/waterscience.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>



                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/shoesAsian.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>





                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/toyes.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>





                            <div class="product-deals-box startg">
                                <a href="" class="attributes">
                                    <div class="img-offer-container">
                                        <img class="image-offer" src="../../images/wolpin.jpg" alt="">
                                    </div>
                                    <div class="dealday-container">
                                        <div class="off-container">
                                            <p class="save-offer-text">Up to 32% of</p>
                                        </div>
                                        <p class="save-offer-text new-add">Deal of the Day</p>
                                    </div>
                                    <div class="dealday-product-container">
                                        <p class="save-offer-text new-add1">Bata, Hush Puppies & more</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
 {{>footer}}
</body>
<script src="../../js/script.js"></script>
<script defer src="https://friconix.com/cdn/friconix.js"></script>

</html>