<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Shopping site in India: Shop Online for Mobiles, Books,Watches...</title>
  <link rel="stylesheet" href="../../css/bodyhome.css">
  <link rel="stylesheet" href="../../css/footer.css">
  <link rel="stylesheet" href="../../css/productlisning.css">
  <link rel="shortcut icon" href="./public/images/31+t9zSzVML._AC_SY200_.jpg" type="image/x-icon">

</head>

<body>
 {{>header}}
  <main class="main-product-container">
    <div class="main-product-list-container">
      <div class="pickup-product-list-container">
        <div class="pickup-product-heading">
          <div class="text-heading">
            <h1 class="pickup-product-text">Pick up where you left off</h1>
            <h1 class="pickup-product-text pickup-product-text-bold">Kitchen Sneakers</h1>
          </div>
          <div class="prodect-list-top-container">
            <div class="product-list-top-box  product-list-top-box-this">
              <a href="#" class="product-list-top-box-attributes">
                <img src="../../images/handwash.jpg" class="prodect-top-box-image" alt="loading...">
              </a>
            </div>
            <div class="product-list-top-box product-list-top-box-other">
              <a href="#" class="product-list-top-box-attributes">
                <img src="../../images/handwash2.jpg" class="prodect-top-box-image" alt="loading...">
              </a>
            </div>
            <div class="product-list-top-box product-list-top-box-other">
              <a href="#" class="product-list-top-box-attributes">
                <img src="../../images/article.jpg" class="prodect-top-box-image" alt="loading...">
              </a>
            </div>
            <div class="product-list-top-box product-list-top-box-other">
              <a href="#" class="product-list-top-box-attributes">
                <img src="../../images/bottle.jpg" class="prodect-top-box-image" alt="loading...">
              </a>
            </div>
          </div>
        </div>


        <div class="previously-heading-container">
          <p class="previously-heading-text">Previously viewed</p>
        </div>

        <div class="product-previously-viewed-container">
          <div class="product-previously-viewed-image-container">
            <a href="/productdetails/handwash" class="product-previously-viewed-image-attributes">
              <img src="../../images/handwash.jpg" class="prodect-top-box-image" alt="loading...">
            </a>
          </div>
          <div class="product-previously-viewed-details-container">
            <div class="other-product-move-container">
              <div class="other-product-move-box-this">
                <a href="#" class="other-product-move-box-under"></a>
              </div>
              <div class="other-product-move-box">
                <a href="#" class="other-product-move-box-under"></a>
              </div>
              <div class="other-product-move-box">
                <a href="#" class="other-product-move-box-under"></a>
              </div>
              <div class="other-product-move-box">
                <a href="#" class="other-product-move-box-under last-third"></a>
              </div>
              <div class="other-product-move-box">
                <a href="#" class="other-product-move-box-under"></a>
              </div>
              <div class="other-product-move-box">
                <a href="#" class="other-product-move-box-under last"></a>
              </div>
            </div>
            <div class="product-previously-viewed-details">
              <a href="" class="attributes-product">
                <div class="product-company-name-container">
                  <p class="product-company-name-text">Puma</p>
                </div>
                <div class="product-name-container">
                  <p class="product-name-text">Unisex-Adult INTERFLEX Modern Black White Running Shoe</p>
                </div>
                <div class="product-rate-container">
                  <p class="product-rate-icon-container">
                    <i class="fi-xnsuxl-star-solid rate"></i>
                    <i class="fi-xnsuxl-star-solid rate"></i>
                    <i class="fi-xnsuxl-star-solid rate"></i>
                    <i class="fi-xnsuxl-star-solid rate"></i>
                    <i class="fi-xwluxl-star-wide rate"></i>
                    <span class="update-rate">168</span>
                  </p>
                </div>
                <div class="product-prices-container">
                  <h1 class="product-prices-text">-40% </h1>
                  <h1 class="product-prices-text-amount"><span class="price-icon">&#x20B9;</span>2,419 <span class="product-prices-zero">00</span></h1><del class="deleted-prices"><span>&#x20B9;</span>3,999.00</del>
                </div>
                <div class="product-get-day-container">
                  <p class="prodect-get-day-text">Get it by <b>Monday, July 3</b></p>
                </div>
                <div class="product-delivery-container">
                  <p class="prodect-delivery-text">FREE Delivery Over &#x20B9;499 Fulfilled by Vikash </p>
                </div>
              </a>
              <div class="button-add-to-cart-container">
                <button type="button" class="button-add-to-cart">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="product-seller-list-container">
        <p class="product-seller-list-name-this ">For you</p>
        <p class="product-seller-list-name">Bestsellers</p>
        <p class="product-seller-list-name">Explore</p>
        <p class="product-seller-list-name">Deals</p>
        <p class="product-seller-list-name">New Releases</p>
        <p class="product-seller-list-name">Most gifted</p>
        <p class="product-seller-list-name">Bought together</p>
      </div>
      {{>productcon}}
      {{>productcon}}
      {{>productcon}}
      {{>productcon}}
      {{>productcon}}
    </div>



  </main>

{{>footer}}
</body>
<script src="../../js/script.js"></script>
<script defer src="https://friconix.com/cdn/friconix.js"> </script>

</html>