<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Shopping site in India: Shop Online for Mobiles, Books,Watches...</title>
  <link rel="shortcut icon" href="./public/images/31+t9zSzVML._AC_SY200_.jpg" type="image/x-icon">
  <link rel="stylesheet" href="../../css/bodyhome.css">
  <link rel="stylesheet" href="../../css/footer.css">
  <link rel="stylesheet" href="../../css/productdetailes.css">
</head>

<body>
 {{>header}}
  <main class="product-details-main">
    <div class="prodect-details-heading-container">
      <div class="prodect-details-first-heading">
        <h1 class="prodect-details-company-name">Vikash Fashion</h1>
        <div class="prodect-details-company-ablable">
          <ul class="unorderlist-product-details-company">
            <li class="list-items-product-details-company"><a href="#" class="attributes">Women</a></li>
            <li class="list-items-product-details-company"><a href="#" class="attributes">Men</a></li>
            <li class="list-items-product-details-company"><a href="#" class="attributes">Kids</a></li>
            <li class="list-items-product-details-company"><a href="#" class="attributes">Bags & Luggage</a></li>
            <li class="list-items-product-details-company"><a href="#" class="attributes">Sportswear</a></li>
            <li class="list-items-product-details-company"><a href="#" class="attributes">Sales & Deals</a></li>
          </ul>
        </div>
        <div class="prodect-return-container">
          <a href="#" class="attributes-second-heading">
            <img src="../../images/returndays.jpg" class="return-container-image" alt="Loading...">
          </a>
        </div>
      </div>
      <div class="prodect-details-second-heading">
        <a href="#" class="attributes-second-heading">

          <div class="prodect-details-container-prodect-company-name">
            <div class="prodect-details-container-prodect-image">
              <img src="../../images/Asian1.jpg" style="width:100px; height:80%;" alt="Loading...">
            </div>
            <div class="prodect-details-container-prodect-name">
              <p style="font-weight: 700;">Asian Men's Running Shoes</p>
            </div>
            <div class="prodect-details-container-prodect-prices">
              <img src="../../images/prime-logo.svg" style="width:150px; height:50%;" alt="Loading...">
              <img src="../../images/shoes.webp" style="width:100px; margin-left:10px; height:80%" alt="Loading...">
            </div>
          </div>

        </a>
      </div>

    </div>
  </main>

 {{>footer}}
</body>

</html>