<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/signup.css" />
  </head>
  <body>
    <div class="signup-container">
      <div class="signup-heading">
        <h1>Signup</h1>
      </div>
      <div class="signup-input">
        <form action="/signup" class="signup-input-form" method="post">
          <input
            type="text"
            name="name"
            id="name"
            class="input-field"
            placeholder="Name"
          /><br />
          <input
            type="email"
            name="email"
            id="email"
            class="input-field"
            placeholder="Email"
          /><br />
          <input
            type="password"
            name="password"
            id="password"
            class="input-field"
            placeholder="Password"
          /><br />
          <input
            type="text"
            name="conformpassword"
            id="conformpassword"
            class="input-field"
            placeholder="Conformpassword"
          /><br />
          <div class="submit-container">
            <input type="submit" id="submit" value="submit" /><br />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>