    <footer class="footer">
        <div class="top-button-container" id="back-to-top">
            <p class="save-offer-text ">Back to top</p>
        </div>
        <div class="footer-about-container">
            <div class="footer-about">
                <div class="know-us-container">
                    <h2 class="footer-about-heading">Get to Know Us</h2>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">About us</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Careers</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Press Releases</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Vikash Science</p>
                    </a>
                </div>
                <div class="connect-with-us-container">
                    <h2 class="footer-about-heading">Connect with Us</h2>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Facebook</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Instagram</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Twitter</p>
                    </a>


                </div>
                <div class="make-money-container">
                    <h2 class="footer-about-heading">Make Money with Us</h2>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Sell on Vikash</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Sell under Vikash Accelerator</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Protect and Build Your Brand</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Vikash Global Selling</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Become an Affiliate</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Fulfilment by Vikash</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Advertise Your Products</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link"> Vikash Pay on Merchants</p>
                    </a>


                </div>
                <div class="let-us-help-container">
                    <h2 class="footer-about-heading">Let Us Help You</h2>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link"> COVID-19 and Vikash</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Your Account</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Returns Centre</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link"> 100% Purchase Protection</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link"> Vikash App Download</p>
                    </a>
                    <a href="" class="attributes link">
                        <p class="footer-about-detail-link">Help</p>
                    </a>
                </div>

            </div>
        </div>
        <div class="company-name-container">
            <div class="language-country-container">
                <a href="/" class="attributes">
                    <h1 class="name">Vikash</h1>
                </a>
                <select name="language" id="select">
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Mathili">Mathili</option>
                </select>
            </div>
            <div class="country-name-container">
                <a href="" class="attributes link">
                    <p class="country-name">Australia</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">Brazil</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">Canada</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">China</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">France</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">Germany</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">Italy</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">Japan</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">Mexico</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">Netherlands</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">Poland</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">Singapore</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">Spain</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">Turkey</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">United Arab Emirates</p>
                </a>
            </div>
            <div class="country-name-container">
                <a href="" class="attributes link">
                    <p class="country-name">United Kingdom</p>
                </a>
                <a href="" class="attributes link">
                    <p class="country-name">United States</p>
                </a>
            </div>
        </div>
        <div class="copy-write-container">
            <div class="copy-write">
                <div class="abe-book-container">
                    <div class="abe-container">

                        <a href="" class="attributes">
                            <p class="country-name linkA">AbeBooks</p>

                            <p class="country-name">Books, art</p>

                            <p class="country-name">& collectibles</p>
                        </a>
                    </div>
                    <div class="book-container">
                        <a href="" class="attributes">
                            <p class="country-name linkA">Shopbop</p>

                            <p class="country-name">Designer</p>

                            <p class="country-name">Fashion Brands</p>
                        </a>
                    </div>
                </div>
                <div class="webservices-container">
                    <div class="abe-container">



                        <a href="" class="attributes">
                            <p class="country-name linkA">Vikash Web Services</p>

                            <p class="country-name">Scalable Cloud</p>

                            <p class="country-name">Computing Services</p>
                        </a>
                    </div>
                    <div class="book-container">



                        <a href="" class="attributes">
                            <p class="country-name linkA">Vikash Business</p>

                            <p class="country-name">Everything For</p>

                            <p class="country-name">Your Business</p>
                        </a>
                    </div>
                </div>
                <div class="audible-container">
                    <div class="abe-container">



                        <a href="" class="attributes">
                            <p class="country-name linkA">Audible</p>

                            <p class="country-name">Download</p>

                            <p class="country-name">Audio Books</p>
                        </a>
                    </div>
                    <div class="book-container">
                        <a href="" class="attributes">
                            <p class="country-name linkA">Prime Now</p>

                            <p class="country-name">2-Hour Delivery</p>

                            <p class="country-name">on Everyday Items</p>
                        </a>
                    </div>
                </div>
                <div class="dpreviews-container">
                    <div class="abe-container">



                        <a href="" class="attributes">
                            <p class="country-name linkA">DPReview</p>

                            <p class="country-name">Digital</p>

                            <p class="country-name">Photography</p>
                        </a>
                    </div>
                    <div class="book-container">




                        <a href="" class="attributes">
                            <p class="country-name linkA">Vikash Prime Music</p>

                            <p class="country-name">100 million songs, ad-free</p>

                            <p class="country-name">Over 15 million podcast episodes</p>
                        </a>
                    </div>
                </div>
                <div class="imdb-container">
                    <div class="abe-container">

                        <a href="" class="attributes">
                            <p class="country-name linkA">IMDb</p>

                            <p class="country-name">Movies, TV</p>

                            <p class="country-name">& Celebrities</p>
                        </a>
                    </div>


                </div>
            </div>
            <div class="copyright-container">
                <div class="copyright-text">



                    <a href="" class="attributes">
                        <p class="country-name">Conditions of Use & Sale</p>
                    </a>
                    <a href="" class="attributes">
                        <p class="country-name">Privacy Notice</p>
                    </a>
                    <a href="" class="attributes">
                        <p class="country-name">Interest-Based Ads</p>
                    </a>
                </div>
                <div class="copyright">
                    <p class="country-name h">&copy <span>1996-2023</span>, Vikash.com, Inc. or its affiliates</p>
                </div>
            </div>
        </div>

    </footer>