<header class="header-main">
  <div class="header-container">
    <div class="header">
      <div class="logo-container">
        <h1 id="logo-text">VIKASH</h1>
      </div>

      <div class="select-address-container">
        <div class="select-address">
          <i class="fi-xnluxl-map-marker location-icon"></i>
          <div class="select-address-text">
            <p class="address-text dark">Hello</p>
            <p class="address-text">Select your address</p>
          </div>
        </div>
      </div>

      <div class="search-container">
        <div class="search">
          <div class="all-container">
            <p class="all-text">All</p>
            <i class="all-text-arrow">🞃</i>
          </div>

          <form action="" class="input-container">
            <input
              type="text"
              name="Search"
              id="search"
              placeholder="Search vikash.com"
            />
            <button type="submit" class="search-icon-button">
              <i class="fi-xnsuhl-search search-icon"></i>
            </button>
          </form>
        </div>
      </div>

      <div class="all-list-container">
        <div class="language-container">
          <div class="language">
            <img
              class="india-image"
              src="../../images/Flag_of_India.svg"
              alt="no loaded"
            />
            <p class="language-text">EN</p>
            <i class="language-icon ic">🞃</i>
          </div>
        </div>
        <div class="account-list-container">
          <div class="account-list" id="account-list">
            <div class="account-text-container">
              <p class="text-up">
                Hello,
                <span class="customer-name">sign in</span>
              </p>
              <p class="text-down">Account & Lists</p>
            </div>
            <i class="language-icon icn">🞃</i>
          </div>
        </div>
        <div class="account-container-show-option" id="account-container-show-option">
          <div class="account-container">
            <div class="account-sign-up">
                <div class="signup-link" >
                    <a href="/signup" class="signup-link-attributes"><p class="signup-link-text">Signup</p></a>
                </div>
                <div class="signup-link" >
                    <a href="/login" class="signup-link-attributes"><p class="signup-link-text">Login</p></a>
                </div>
            </div>
          </div>
        </div>
        <div class="return-order-container">
          <div class="return-order">
            <div class="order">
              <p class="text-up">Return</p>
              <p class="text-down">& Orders</p>
            </div>
          </div>
        </div>
        <div class="add-card-container">
          <div class="add-container">
            <i class="fa-sharp fa-regular fa-cart-plus text-down"></i><b
              class="text-down"
            >Cart</b>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="second-header-container">
    <div class="second-header">
      <div class="second-all-container">
        <div class="second-all">
          <i class="fi-xnsuxl-three-bars-solid text-down"></i><b
            class="text-down"
          >All</b>
        </div>
      </div>
      <div class="minitv-container">
        <div class="minitv">
          <p class="text-down">Amazon miniTv</p>
        </div>
      </div>
      <div class="sell-list-container">
        <div class="sell-list">
          <p class="text-down">Sell</p>
        </div>
      </div>
      <div class="vikash-pay-container">
        <div class="vikash-pay">
          <p class="text-down">Vikash Pay</p>
        </div>
      </div>
      <div class="buy-again-container">
        <div class="buy-again">
          <p class="text-down">Buy again</p>
        </div>
      </div>
      <div class="gift-card-container">
        <div class="gift-card">
          <p class="text-down">Gift card</p>
        </div>
      </div>
      <div class="persional-care-container">
        <div class="persional-care">
          <p class="text-down">Health, Household & Persional Care</p>
        </div>
      </div>
      <div class="gift-ideas-container">
        <div class="gift-ideas">
          <p class="text-down">Gift ideas</p>
        </div>
      </div>
      <div class="vikash-basics-container">
        <div class="vikash-basics">
          <p class="text-down">VikashBasics</p>
        </div>
      </div>
      <div class="home-improvement-container">
        <div class="home-improvement">
          <p class="text-down">Home improvement</p>
        </div>
      </div>
    </div>
    <div class="offer-container">
      <div class="offer">
        <img class="im" src="../../images/offer.jpg" alt="no loaded" />
      </div>
    </div>
  </div>
</header>