<div class="all-product-list-container">
  <div class="recomanded-container">
    <h3 class="recomanded-heading-text">Recommended for you</h3>
  </div>
  <div class="productlist-details-container">
    <div class="productlist-details-slide-container">
      <div class="productlist-details-slide-box-container">
        <div class="productlist-details-slide-box">
          <a href="" class="attributes">
            <div class="productlist-details-slide-box-image">
              <img src="../../images/shoesAsian.jpg" alt="LOading" class="image-product-show">
            </div>
          </a>
          <div class="productlist-details-slide-box-details">
            <div class="other-product-move-container">
              <div class="other-product-slide-box-this">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under last-third"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under last"></a>
              </div>
            </div>
            <a href="" class="attributes">
              <div class="company-name-container-product">
                <b class="company-name-container-heading">Puma</b>
              </div>
              <div class="product-brand-name-container-product">
                <p class="product-brand-container-heading">Men's Trackracer Idp Closed Shoe</p>
              </div>
              <div class="product-rates-container">
                <p class="product-rate-icons-container">
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xwluxl-star-wide rate"></i>
                  <span class="update-rate">168</span>
                </p>
              </div>
            </a>
            <div class="product-pricesed-container">
              <h1 class="product-prices-text">-40% </h1>
              <h1 class="product-prices-text-amount"><span class="price-icon">&#x20B9;</span>2,419 <span
                  class="product-prices-zero">00</span></h1><del
                class="deleted-prices"><span>&#x20B9;</span>3,999.00</del>
            </div>
            <div class="product-get-days-container">
              <p class="prodect-get-day-text">Get it by <b>Monday, July 3</b></p>
            </div>
            <div class="product-deliverys-container">
              <p class="prodect-delivery-text">FREE Delivery Over &#x20B9;499 Fulfilled by Vikash </p>
            </div>
            <div class="button-add-to-carts-container">
              <button type="button" class="button-add-to-cart">Add to Cart</button>
            </div>

          </div>
          </a>
        </div>
        <div class="productlist-details-slide-box">
          <a href="" class="attributes">
            <div class="productlist-details-slide-box-image">
              <img src="../../images/shoesA.jpg" alt="LOading" class="image-product-show">

            </div>
          </a>
          <div class="productlist-details-slide-box-details">
            <div class="other-product-move-container">
              <div class="other-product-slide-box-this">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under last-third"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under last"></a>
              </div>
            </div>
            <a href="" class="attributes">
              <div class="company-name-container-product">
                <b class="company-name-container-heading">Puma</b>
              </div>
              <div class="product-brand-name-container-product">
                <p class="product-brand-container-heading">Men's Trackracer Idp Closed Shoe</p>
              </div>
              <div class="product-rates-container">
                <p class="product-rate-icons-container">
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xwluxl-star-wide rate"></i>
                  <span class="update-rate">168</span>
                </p>
              </div>
            </a>
            <div class="product-pricesed-container">
              <h1 class="product-prices-text">-40% </h1>
              <h1 class="product-prices-text-amount"><span class="price-icon">&#x20B9;</span>2,419 <span
                  class="product-prices-zero">00</span></h1><del
                class="deleted-prices"><span>&#x20B9;</span>3,999.00</del>
            </div>
            <div class="product-get-days-container">
              <p class="prodect-get-day-text">Get it by <b>Monday, July 3</b></p>
            </div>
            <div class="product-deliverys-container">
              <p class="prodect-delivery-text">FREE Delivery Over &#x20B9;499 Fulfilled by Vikash </p>
            </div>
            <div class="button-add-to-carts-container">
              <button type="button" class="button-add-to-cart">Add to Cart</button>
            </div>

          </div>
          </a>
        </div>
        <div class="productlist-details-slide-box">
          <a href="" class="attributes">
            <div class="productlist-details-slide-box-image">
              <img src="../../images/shoesA.jpg" alt="LOading" class="image-product-show">

            </div>
          </a>
          <div class="productlist-details-slide-box-details">
            <div class="other-product-move-container">
              <div class="other-product-slide-box-this">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under last-third"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under last"></a>
              </div>
            </div>
            <a href="" class="attributes">
              <div class="company-name-container-product">
                <b class="company-name-container-heading">Puma</b>
              </div>
              <div class="product-brand-name-container-product">
                <p class="product-brand-container-heading">Men's Trackracer Idp Closed Shoe</p>
              </div>
              <div class="product-rates-container">
                <p class="product-rate-icons-container">
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xwluxl-star-wide rate"></i>
                  <span class="update-rate">168</span>
                </p>
              </div>
            </a>
            <div class="product-pricesed-container">
              <h1 class="product-prices-text">-40% </h1>
              <h1 class="product-prices-text-amount"><span class="price-icon">&#x20B9;</span>2,419 <span
                  class="product-prices-zero">00</span></h1><del
                class="deleted-prices"><span>&#x20B9;</span>3,999.00</del>
            </div>
            <div class="product-get-days-container">
              <p class="prodect-get-day-text">Get it by <b>Monday, July 3</b></p>
            </div>
            <div class="product-deliverys-container">
              <p class="prodect-delivery-text">FREE Delivery Over &#x20B9;499 Fulfilled by Vikash </p>
            </div>
            <div class="button-add-to-carts-container">
              <button type="button" class="button-add-to-cart">Add to Cart</button>
            </div>

          </div>
          </a>
        </div>
        <div class="productlist-details-slide-box">
          <a href="" class="attributes">
            <div class="productlist-details-slide-box-image">
              <img src="../../images/shoesA.jpg" alt="LOading" class="image-product-show">

            </div>
          </a>
          <div class="productlist-details-slide-box-details">
            <div class="other-product-move-container">
              <div class="other-product-slide-box-this">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under last-third"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under last"></a>
              </div>
            </div>
            <a href="" class="attributes">
              <div class="company-name-container-product">
                <b class="company-name-container-heading">Puma</b>
              </div>
              <div class="product-brand-name-container-product">
                <p class="product-brand-container-heading">Men's Trackracer Idp Closed Shoe</p>
              </div>
              <div class="product-rates-container">
                <p class="product-rate-icons-container">
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xwluxl-star-wide rate"></i>
                  <span class="update-rate">168</span>
                </p>
              </div>
            </a>
            <div class="product-pricesed-container">
              <h1 class="product-prices-text">-40% </h1>
              <h1 class="product-prices-text-amount"><span class="price-icon">&#x20B9;</span>2,419 <span
                  class="product-prices-zero">00</span></h1><del
                class="deleted-prices"><span>&#x20B9;</span>3,999.00</del>
            </div>
            <div class="product-get-days-container">
              <p class="prodect-get-day-text">Get it by <b>Monday, July 3</b></p>
            </div>
            <div class="product-deliverys-container">
              <p class="prodect-delivery-text">FREE Delivery Over &#x20B9;499 Fulfilled by Vikash </p>
            </div>
            <div class="button-add-to-carts-container">
              <button type="button" class="button-add-to-cart">Add to Cart</button>
            </div>

          </div>
          </a>
        </div>
        <div class="productlist-details-slide-box">
          <a href="" class="attributes">
            <div class="productlist-details-slide-box-image">
              <img src="../../images/shoesA.jpg" alt="LOading" class="image-product-show">
            </div>
          </a>
          <div class="productlist-details-slide-box-details">
            <div class="other-product-move-container">
              <div class="other-product-slide-box-this">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under last-third"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under"></a>
              </div>
              <div class="other-product-slide-box">
                <a href="#" class="other-product-slide-box-under last"></a>
              </div>
            </div>
            <a href="" class="attributes">
              <div class="company-name-container-product">
                <b class="company-name-container-heading">Puma</b>
              </div>
              <div class="product-brand-name-container-product">
                <p class="product-brand-container-heading">Men's Trackracer Idp Closed Shoe</p>
              </div>
              <div class="product-rates-container">
                <p class="product-rate-icons-container">
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xnsuxl-star-solid rate"></i>
                  <i class="fi-xwluxl-star-wide rate"></i>
                  <span class="update-rate">168</span>
                </p>
              </div>
            </a>
            <div class="product-pricesed-container">
              <h1 class="product-prices-text">-40% </h1>
              <h1 class="product-prices-text-amount"><span class="price-icon">&#x20B9;</span>2,419 <span
                  class="product-prices-zero">00</span></h1><del
                class="deleted-prices"><span>&#x20B9;</span>3,999.00</del>
            </div>
            <div class="product-get-days-container">
              <p class="prodect-get-day-text">Get it by <b>Monday, July 3</b></p>
            </div>
            <div class="product-deliverys-container">
              <p class="prodect-delivery-text">FREE Delivery Over &#x20B9;499 Fulfilled by Vikash </p>
            </div>
            <div class="button-add-to-carts-container">
              <button type="button" class="button-add-to-cart">Add to Cart</button>
            </div>

          </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>